LPCNet/src/celt_lpc.o
	LPCNet/src/freq.o
	LPCNet/src/kiss_fft.o
	LPCNet/src/lpcnet.o
	LPCNet/src/nnet.o
	LPCNet/src/nnet_data.o
	LPCNet/src/pitch.o
	LPCNet/src/test_lpcnet.o
	LPCNet/test_lpcnet
	Tacotron-2/A_team_of_Engineers_at_Visteon.f32
	Tacotron-2/A_team_of_Engineers_at_Visteon.s16
	Tacotron-2/Calling_now.f32
	Tacotron-2/Calling_now.s16
	Tacotron-2/I_am_Smart_Voice_Assistant_For_you_car.f32
	Tacotron-2/I_am_Smart_Voice_Assistant_For_you_car.s16
	Tacotron-2/I_can't_catch_that.f32
	Tacotron-2/I_can't_catch_that.s16
	Tacotron-2/I_didn't_understand,_I_am_still_learning.f32
	Tacotron-2/I_didn't_understand,_I_am_still_learning.s16
	Tacotron-2/Shall_I_put_this_on_the_map_.f32
	Tacotron-2/Shall_I_put_this_on_the_map_.s16
	Tacotron-2/Shall_I_start_the_navigation_.f32
	Tacotron-2/Shall_I_start_the_navigation_.s16
	Tacotron-2/Sorry,_I_didn't_understand_that.f32
	Tacotron-2/Sorry,_I_didn't_understand_that.s16
	Tacotron-2/Which_one_do_you_want_to_call_.f32
	Tacotron-2/Which_one_do_you_want_to_call_.s16
	Tacotron-2/Who_are_you_.f32
	Tacotron-2/Who_are_you_.s16
	Tacotron-2/convert.sh
	Tacotron-2/inference_model.pb
	Tacotron-2/tacotron_output/
	Tacotron-2/tts_t2_wav/
	dataset/LJSpeech-1.1.tar.bz2
	dataset/tmp/
	dataset/training_data/
	dataset/training_procedure
	patch.diff
	test.s16
	test.wav

